* {
    box-sizing: border-box;
    margin: 0;
    color: white;
}

body {
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
}

nav {
    grid-column: 2/-1;
    grid-row: 1;
    font-size: 1.5rem;
    border-bottom: 1px solid white;
    padding-top: 2.2em;
    padding-bottom: 2.2em;
    padding-left: 3.5em;
}

#newtaskbtn {
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 1em;
    margin-top: 1.2em;
}

#side-panel {
    background-color: black;
    grid-row: 1/-1;
    grid-column: 1;
    padding: 2.2em;
    padding-top: 4.5em;
    font-size: 1.2rem;
    border-right: 1px solid white;
}

#side-panel div {
    margin-bottom: 1em;
}

#projectbtn {
    background-color: black;
    border-radius: 10px;
    border: 1px solid white;
    padding: 1em;
    display: block;
    margin-top: 1.2em;
}

#projects {
    margin: 1em 0;
    font-size: 1.5rem;
}

#projects div {
    font-size: 1.2rem;
    margin-top: 1em;
}

#todo {
    grid-column: 2/-1;
    grid-row: 2/-1;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.items {
    width: 95%;
    height: 5em;
    background-color: black;
    padding: 0.5em;
    border: 1px solid white;
    border-radius: 1.2em;
    display: grid;
    grid-template-columns: 0.2fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.items div {
    color: white;
}

.title {
    grid-column: 2;
    grid-row: 1;
    justify-self: center;
}

.description {
    grid-column: 2;
    grid-row: 2;
    justify-self: center;
}

.duedate {
    grid-column: 3;
    grid-row: 1;
}

.priority {
    grid-column: 3;
    grid-row: 2;
}

#task,
#newproject {
    background-color: black;
    top: 30%;
    left: 45%;
}

form {
    background-color: black;
    color: black;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

form h2 {
    text-align: center;
}

form input {
    color: black;
}

#confirmBtn,
#projectConfirmBtn {
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding: 0.5em;
}

.project {
    width: 100%;
    background-color: black;
    border: 1px solid white;
    padding: 1em;
    border-radius: 10px;
    margin: 1em 0;
}

.project:hover,
#projectbtn:hover,
#newtaskbtn:hover {
    background-color: blueviolet;
}